crypto_test.json
{"flowContents":{"identifier":"9667fc6f-0b2f-3028-8fed-b050a2be90f1","instanceIdentifier":"a90602fe-0191-1000-2194-8c1406bcb694","name":"crypto test","comments":"","position":{"x":648.0,"y":-664.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"50852976-5599-3efa-b24e-42319ca16cfa","instanceIdentifier":"a9064ca1-0191-1000-56c4-f2df4bdf588a","name":"PutFile","comments":"","position":{"x":675.9999730061719,"y":389.5000241599526},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":".\\tmp\\output1","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9667fc6f-0b2f-3028-8fed-b050a2be90f1"},{"identifier":"f8e56067-2178-3ceb-8b4c-9b033a56ea6b","instanceIdentifier":"a9064ca3-0191-1000-8f09-0ea91685e304","name":"CryptoProcessor","comments":"","position":{"x":659.9999730061719,"y":221.5000241599526},"type":"com.example.processors.processor.CryptoProcessor","bundle":{"group":"com.example","artifact":"nifi-processor-nar","version":"1"},"properties":{"KEY_SERVICE":"bcd0ecde-8994-31d1-b65f-7587a303b382","ENCRYPTION_ALGORITHM":"#{encryption_algorithm.txt}","MODE":"Decrypt"},"propertyDescriptors":{"KEY_SERVICE":{"name":"KEY_SERVICE","displayName":"Service for key distribution","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ENCRYPTION_ALGORITHM":{"name":"ENCRYPTION_ALGORITHM","displayName":"Encryption Algorithm","identifiesControllerService":false,"sensitive":false,"dynamic":false},"MODE":{"name":"MODE","displayName":"Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9667fc6f-0b2f-3028-8fed-b050a2be90f1"},{"identifier":"012d05b3-35b1-393a-80d6-23bcf11d65f4","instanceIdentifier":"a9064ca2-0191-1000-c3a8-702c801f1728","name":"CryptoProcessor","comments":"","position":{"x":307.9999730061719,"y":205.5000241599526},"type":"com.example.processors.processor.CryptoProcessor","bundle":{"group":"com.example","artifact":"nifi-processor-nar","version":"1"},"properties":{"KEY_SERVICE":"bcd0ecde-8994-31d1-b65f-7587a303b382","ENCRYPTION_ALGORITHM":"#{encryption_algorithm.txt}","MODE":"Encrypt"},"propertyDescriptors":{"KEY_SERVICE":{"name":"KEY_SERVICE","displayName":"Service for key distribution","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ENCRYPTION_ALGORITHM":{"name":"ENCRYPTION_ALGORITHM","displayName":"Encryption Algorithm","identifiesControllerService":false,"sensitive":false,"dynamic":false},"MODE":{"name":"MODE","displayName":"Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9667fc6f-0b2f-3028-8fed-b050a2be90f1"},{"identifier":"b626420a-520f-3db5-9c9f-ad6797a21b8b","instanceIdentifier":"a9064ca0-0191-1000-3e11-13214308c04b","name":"GetFile","comments":"","position":{"x":675.9999730061719,"y":61.5000241599526},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":".\\tmp\\output","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9667fc6f-0b2f-3028-8fed-b050a2be90f1"},{"identifier":"bc3e52a1-8791-3e87-8585-5b3b0fd1063b","instanceIdentifier":"a9064c9e-0191-1000-eef3-93db69fe8f58","name":"GetFile","comments":"","position":{"x":307.9999730061719,"y":21.500024159952602},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":".\\tmp\\input","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9667fc6f-0b2f-3028-8fed-b050a2be90f1"},{"identifier":"94120b15-2869-3137-89f4-107be4ef03a7","instanceIdentifier":"a9064c9f-0191-1000-0fc4-7038a9083a7f","name":"PutFile","comments":"","position":{"x":307.9999730061719,"y":413.5000241599526},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":".\\tmp\\output","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9667fc6f-0b2f-3028-8fed-b050a2be90f1"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1edc755f-7e98-3ebb-b0ab-e6ac9f891c2e","instanceIdentifier":"a9064ca4-0191-1000-29dd-bcc8660aa4ac","name":"","source":{"id":"012d05b3-35b1-393a-80d6-23bcf11d65f4","type":"PROCESSOR","groupId":"9667fc6f-0b2f-3028-8fed-b050a2be90f1","name":"CryptoProcessor","comments":"","instanceIdentifier":"a9064ca2-0191-1000-c3a8-702c801f1728"},"destination":{"id":"94120b15-2869-3137-89f4-107be4ef03a7","type":"PROCESSOR","groupId":"9667fc6f-0b2f-3028-8fed-b050a2be90f1","name":"PutFile","comments":"","instanceIdentifier":"a9064c9f-0191-1000-0fc4-7038a9083a7f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9667fc6f-0b2f-3028-8fed-b050a2be90f1"},{"identifier":"5782c4f1-b6ca-375a-a60a-8501140684e1","instanceIdentifier":"a9064ca6-0191-1000-2a25-9dbb65d90189","name":"","source":{"id":"b626420a-520f-3db5-9c9f-ad6797a21b8b","type":"PROCESSOR","groupId":"9667fc6f-0b2f-3028-8fed-b050a2be90f1","name":"GetFile","comments":"","instanceIdentifier":"a9064ca0-0191-1000-3e11-13214308c04b"},"destination":{"id":"f8e56067-2178-3ceb-8b4c-9b033a56ea6b","type":"PROCESSOR","groupId":"9667fc6f-0b2f-3028-8fed-b050a2be90f1","name":"CryptoProcessor","comments":"","instanceIdentifier":"a9064ca3-0191-1000-8f09-0ea91685e304"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9667fc6f-0b2f-3028-8fed-b050a2be90f1"},{"identifier":"2adf1ec3-b832-33be-94d7-2052e7a55c8e","instanceIdentifier":"a9064ca7-0191-1000-983c-a46df6de4921","name":"","source":{"id":"f8e56067-2178-3ceb-8b4c-9b033a56ea6b","type":"PROCESSOR","groupId":"9667fc6f-0b2f-3028-8fed-b050a2be90f1","name":"CryptoProcessor","comments":"","instanceIdentifier":"a9064ca3-0191-1000-8f09-0ea91685e304"},"destination":{"id":"50852976-5599-3efa-b24e-42319ca16cfa","type":"PROCESSOR","groupId":"9667fc6f-0b2f-3028-8fed-b050a2be90f1","name":"PutFile","comments":"","instanceIdentifier":"a9064ca1-0191-1000-56c4-f2df4bdf588a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9667fc6f-0b2f-3028-8fed-b050a2be90f1"},{"identifier":"4800e842-b7f5-3fba-93c6-49201cd768e7","instanceIdentifier":"a9064ca5-0191-1000-d058-1df5f130deb6","name":"","source":{"id":"bc3e52a1-8791-3e87-8585-5b3b0fd1063b","type":"PROCESSOR","groupId":"9667fc6f-0b2f-3028-8fed-b050a2be90f1","name":"GetFile","comments":"","instanceIdentifier":"a9064c9e-0191-1000-eef3-93db69fe8f58"},"destination":{"id":"012d05b3-35b1-393a-80d6-23bcf11d65f4","type":"PROCESSOR","groupId":"9667fc6f-0b2f-3028-8fed-b050a2be90f1","name":"CryptoProcessor","comments":"","instanceIdentifier":"a9064ca2-0191-1000-c3a8-702c801f1728"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9667fc6f-0b2f-3028-8fed-b050a2be90f1"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"bcd0ecde-8994-31d1-b65f-7587a303b382","instanceIdentifier":"a7aa8af5-0191-1000-bb81-eadf9670f793","name":"KeyDistributionService","comments":"","type":"com.example.service.KeyDistributionService","bundle":{"group":"com.example","artifact":"nifi-processor-nar","version":"1"},"properties":{"KEYS_DIRECTORY":".\\tmp\\keys_dir"},"propertyDescriptors":{"KEYS_DIRECTORY":{"name":"KEYS_DIRECTORY","displayName":"Path to files with keys","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"com.example.service.KeyDistributionServiceAPI","bundle":{"group":"com.example","artifact":"nifi-service-api-nar","version":"1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a90602fe-0191-1000-2194-8c1406bcb694"}],"parameterContextName":"1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{"1":{"name":"1","parameters":[{"name":"ftp_username.txt","sensitive":false,"provided":true,"value":"test_user"},{"name":"file_deletion_rule.txt","sensitive":false,"provided":true,"value":"${filename:equals(\"1.txt\")}"},{"name":"file_rename_policy.txt","sensitive":false,"provided":true,"value":"rename"},{"name":"file_save_original.txt","sensitive":false,"provided":true,"value":"true"},{"name":"file_rename_rule.txt","sensitive":false,"provided":true,"value":"${filename:substringBeforeLast('.'):append('_'):append(${now():format(\"yyyyMMdd_HHmmss\")}):append('.'):append(${filename:substringAfterLast('.')})}"},{"name":"archive_unpack_password.txt","sensitive":true,"provided":true},{"name":"ftp_host.txt","sensitive":false,"provided":true,"value":"127.0.0.1"},{"name":"ftp_password.txt","sensitive":true,"provided":true},{"name":"ftp_port.txt","sensitive":false,"provided":true,"value":"21"},{"name":"compression_format.txt","sensitive":false,"provided":true,"value":"lz4-framed"},{"name":"compression_policy.txt","sensitive":false,"provided":true,"value":"no_compress"},{"name":"hashing_algorithm.txt","sensitive":false,"provided":true,"value":"SHA-256"},{"name":"ftp_remote_path.txt","sensitive":false,"provided":true,"value":"nifi_ftp"},{"name":"encryption_algorithm.txt","sensitive":false,"provided":true,"value":"RSA"}],"inheritedParameterContexts":[],"parameterProvider":"a914df6e-0191-1000-046c-8fee9668c3c7","parameterGroupName":"1","componentType":"PARAMETER_CONTEXT","synchronized":true}},"flowEncodingVersion":"1.0","parameterProviders":{"a914df6e-0191-1000-046c-8fee9668c3c7":{"identifier":"a914df6e-0191-1000-046c-8fee9668c3c7","name":"FileParameterProvider","type":"org.apache.nifi.parameter.FileParameterProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"}}},"latest":false}